asttokens
Bottleneck
Brotli
certifi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
fonttools
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
nest_asyncio
networkx
numexpr
numpy
packaging
pandas
parso
pickleshare
pillow
platformdirs
ply
prompt_toolkit
psutil
pure-eval
Pygments
pyparsing
PyQt5==5.15.10
PySocks
python-dateutil
pytz
pywin32==305.1
PyYAML
pyzmq
requests
scikit-learn
scipy
seaborn
setuptools==69.5.1
sip
six
stack-data
sympy
threadpoolctl
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
wheel==0.43.0
win-inet-pton
zipp
